body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #11568fb0;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

input {
    width: 70px;
    padding: 15px;
    border: 1px solid #00ffdd;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #00020383;
    color: #00ff0d;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.timer {
    font-size: 5em;
    margin-top: 40px;
}
